# Ignore the node_modules directory
/node_modules
/Project_10 OOP

# Ignore any built TypeScript files (JavaScript output)
/dist

# Ignore editor/IDE-specific files and directories
.vscode 
.idea
.DS_Store